@import "compass/reset";
@import "compass";


$grid-columns: 16;
$grid-column-width: 30px;
$grid-gutter: 20px;

$text-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-color: #333;
$base-font-size: 18px;
$base-line-heigh: 30px;

@import "mixin/grid";
@include establish-grid();
@include establish-baseline();

@import "partial/footer";
@import "partial/table";

body {
	font-family: $text-font;
	padding: 20px;
	color: $text-color;
}
#{headings()} {
	color: $text-color;
	font-weight: bold;
}
h1 {
	@include adjust-font-size-to($base-font-size * 3);
}
h2 {
	@include adjust-font-size-to($base-font-size * 2);
}

div.group {
	ul.tests {
		@include row();
		li.test {
			@include column(8);
		}
	}
}