@import "compass";
@import "global/variables";
@import "plugin/reset";
@import "plugin/color";
@import "plugin/grid";
@include establish-grid();
@include establish-baseline();
@import "shared/links";
@import "shared/footer";
@import "shared/table";

@import "component/main-navigation";

body, input, textarea, select {
	font-family: $text-font;
	color: $text-color;
	font-size: $base-font-size;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
#{headings()} {
	color: $text-color;
	font-weight: bold;
}
h1 {
	@include adjust-font-size-to($base-font-size * 3);
}
h2 {
	@include adjust-font-size-to($base-font-size * 1.5);
}

#content {
	padding: 0.75em;
}

div.group {
	ul.tests {
		@include row();
		li.test {
			h2 {
				text-align: center;
				@include adjust-font-size-to($base-font-size * 1);
			}
			@include column(4);
		}
	}
}