$grid-columns: 12;
$grid-column-width: 60px;
$grid-gutter: 20px;

$text-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-color: #333;
$base-font-size: 18px;
$base-line-heigh: 30px;
$highlight-color: #0080FF;