<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="bootstrap.php" colors="true" syntaxCheck="true">
	<testsuite name="franklin">
		<directory>test</directory>
	</testsuite>
	<logging>
		<log type="coverage-html" target="doc/report/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" />
		<log type="coverage-xml" target="doc/report/coverage.xml" />
	</logging>
</phpunit>