<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="config/bootstrap.php"
	colors="true"
	stopOnFailure="false"
	syntaxCheck="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">
	<testsuites>
		<testsuite name="franklin">
			<directory>./test</directory>
		</testsuite>
		<testsuite name="tests">
			<directory>./lib/franklin/test/</directory>
		</testsuite>
	</testsuites>
	<php>
		<ini name="error_reporting" value="E_ALL"/>
	</php>
	<logging>
		<log type="coverage-html" target="./doc/report/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" />
		<log type="coverage-xml" target="./doc/report/coverage.xml" />
	</logging>
</phpunit>