/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 37, ../../sass/mixin/_grid.scss */
.grid-container {
  display: table;
  margin: 0 auto;
  width: 780px;
}

/* line 40, ../../sass/mixin/_grid.scss */
.grid-row {
  overflow: hidden;
  *zoom: 1;
  margin-left: -20px;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-1 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 30px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-1 {
  margin-left: 50px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-2 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 80px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-2 {
  margin-left: 100px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-3 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 130px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-3 {
  margin-left: 150px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-4 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 180px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-4 {
  margin-left: 200px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-5 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 230px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-5 {
  margin-left: 250px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-6 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 280px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-6 {
  margin-left: 300px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-7 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 330px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-7 {
  margin-left: 350px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-8 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 380px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-8 {
  margin-left: 400px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-9 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 430px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-9 {
  margin-left: 450px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-10 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 480px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-10 {
  margin-left: 500px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-11 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 530px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-11 {
  margin-left: 550px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-12 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 580px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-12 {
  margin-left: 600px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-13 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 630px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-13 {
  margin-left: 650px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-14 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 680px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-14 {
  margin-left: 700px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-15 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 730px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-15 {
  margin-left: 750px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-16 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 780px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-16 {
  margin-left: 800px !important;
}

/* line 58, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 112.5%;
  line-height: 1.333em;
}

/* line 62, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 18px;
}

/* line 1, ../../sass/partial/_footer.scss */
#app > footer {
  overflow: hidden;
  *zoom: 1;
  margin-top: 1.333em;
  font-size: 75%;
}
/* line 5, ../../sass/partial/_footer.scss */
#app > footer, #app > footer a {
  color: #333333;
}

/* line 5, ../../sass/partial/_table.scss */
table.table th {
  font-weight: bold;
}
/* line 8, ../../sass/partial/_table.scss */
table.table td {
  border-top: 1px solid #dddddd;
}
/* line 11, ../../sass/partial/_table.scss */
table.table th, table.table td {
  padding: 0.25em 0.5em;
}
/* line 14, ../../sass/partial/_table.scss */
table.table tr:hover td {
  background-color: #f9f9f9;
}

/* line 20, ../../sass/partial/_table.scss */
table.bordered {
  border: 1px solid #dddddd;
  border-left: 0;
}
/* line 23, ../../sass/partial/_table.scss */
table.bordered th, table.bordered td {
  border-left: 1px solid #dddddd;
}

/* line 29, ../../sass/partial/_table.scss */
table.striped tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}

/* line 21, ../../sass/screen.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 20px;
  color: #333333;
}

/* line 26, ../../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: bold;
}

/* line 30, ../../sass/screen.scss */
h1 {
  font-size: 3em;
  line-height: 1.333em;
}

/* line 33, ../../sass/screen.scss */
h2 {
  font-size: 2em;
  line-height: 1.333em;
}

/* line 38, ../../sass/screen.scss */
div.group ul.tests {
  overflow: hidden;
  *zoom: 1;
  margin-left: -20px;
}
/* line 40, ../../sass/screen.scss */
div.group ul.tests li.test {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 380px;
}
