/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 37, ../../sass/mixin/_grid.scss */
.grid-container {
  display: table;
  margin: 0 auto;
  width: 940px;
}

/* line 40, ../../sass/mixin/_grid.scss */
.grid-row {
  overflow: hidden;
  *zoom: 1;
  margin-left: -20px;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-1 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 60px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-1 {
  margin-left: 80px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-2 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 140px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-2 {
  margin-left: 160px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-3 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 220px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-3 {
  margin-left: 240px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-4 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 300px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-4 {
  margin-left: 320px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-5 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 380px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-5 {
  margin-left: 400px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-6 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 460px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-6 {
  margin-left: 480px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-7 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 540px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-7 {
  margin-left: 560px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-8 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 620px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-8 {
  margin-left: 640px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-9 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 700px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-9 {
  margin-left: 720px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-10 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 780px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-10 {
  margin-left: 800px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-11 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 860px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-11 {
  margin-left: 880px !important;
}

/* line 44, ../../sass/mixin/_grid.scss */
.grid-12 {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 940px;
}

/* line 47, ../../sass/mixin/_grid.scss */
.grid-offset-12 {
  margin-left: 960px !important;
}

/* line 58, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 112.5%;
  line-height: 1.333em;
}

/* line 62, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 18px;
}

/* line 7, ../../sass/partial/_links.scss */
a {
  color: #0080ff;
  outline: none;
}
/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #0073e6;
}
/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #3399ff;
}
/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #3399ff;
}
/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #3399ff;
}
/* line 10, ../../sass/partial/_links.scss */
a:hover, a:active {
  -moz-outline-style: none;
  -webkit-tap-highlight-color: #FF5E99;
  outline: none;
}

/* line 1, ../../sass/partial/_footer.scss */
#app > footer {
  padding: 0 0.75em;
  overflow: hidden;
  *zoom: 1;
  margin-top: 1.333em;
  font-size: 75%;
}
/* line 6, ../../sass/partial/_footer.scss */
#app > footer, #app > footer a {
  color: #333333;
}

/* line 5, ../../sass/partial/_table.scss */
table.table th {
  font-weight: bold;
}
/* line 8, ../../sass/partial/_table.scss */
table.table td {
  border-top: 1px solid #dddddd;
}
/* line 11, ../../sass/partial/_table.scss */
table.table th, table.table td {
  padding: 0.25em 0.5em;
}
/* line 14, ../../sass/partial/_table.scss */
table.table tr:hover td {
  background-color: #f9f9f9;
}

/* line 20, ../../sass/partial/_table.scss */
table.bordered {
  border: 1px solid #dddddd;
  border-left: 0;
}
/* line 23, ../../sass/partial/_table.scss */
table.bordered th, table.bordered td {
  border-left: 1px solid #dddddd;
}

/* line 29, ../../sass/partial/_table.scss */
table.striped tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}

/* line 8, ../../sass/partial/_main-navigation.scss */
.navbar-fixed {
  z-index: 10000;
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 14, ../../sass/partial/_main-navigation.scss */
#content {
  margin-top: 2.5em;
}

/* line 17, ../../sass/partial/_main-navigation.scss */
.navbar {
  height: 2.5em;
  line-height: 2.5em;
  border-bottom: 1px solid #d7d7d7;
  background: #f1f1f1;
}
/* line 22, ../../sass/partial/_main-navigation.scss */
.navbar a {
  padding: 0 0.75em;
  text-decoration: none;
  color: #8b8b8b;
}
/* line 27, ../../sass/partial/_main-navigation.scss */
.navbar a.brand {
  float: right;
  font-size: 175%;
  font-weight: bold;
  color: #bebebe;
  text-shadow: #8b8b8b 0px 1px 0px;
}
/* line 37, ../../sass/partial/_main-navigation.scss */
.navbar nav > ul li, .navbar nav > ul a {
  display: inline-block;
}
/* line 40, ../../sass/partial/_main-navigation.scss */
.navbar nav > ul a {
  height: 2.5em;
  line-height: 2.5em;
  display: inline-block;
}
/* line 44, ../../sass/partial/_main-navigation.scss */
.navbar nav > ul a.current, .navbar nav > ul a:hover {
  text-decoration: underline;
}
/* line 50, ../../sass/partial/_main-navigation.scss */
.navbar nav.responsive select {
  font-size: 80%;
  display: none;
  margin: 0.65em;
}
@media (max-width: 520px) {
  /* line 56, ../../sass/partial/_main-navigation.scss */
  .navbar nav.responsive ul {
    display: none;
  }
  /* line 59, ../../sass/partial/_main-navigation.scss */
  .navbar nav.responsive select {
    display: table;
  }
}

/* line 25, ../../sass/screen.scss */
body, input, textarea, select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 32, ../../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: bold;
}

/* line 36, ../../sass/screen.scss */
h1 {
  font-size: 3em;
  line-height: 1.333em;
}

/* line 39, ../../sass/screen.scss */
h2 {
  font-size: 1.5em;
  line-height: 1.778em;
}

/* line 43, ../../sass/screen.scss */
#content {
  padding: 0.75em;
}

/* line 48, ../../sass/screen.scss */
div.group ul.tests {
  overflow: hidden;
  *zoom: 1;
  margin-left: -20px;
}
/* line 50, ../../sass/screen.scss */
div.group ul.tests li.test {
  float: left;
  margin-left: 20px;
  margin-bottom: 1.333em;
  width: 300px;
}
/* line 51, ../../sass/screen.scss */
div.group ul.tests li.test h2 {
  text-align: center;
  font-size: 1em;
  line-height: 1.333em;
}
