@import url("reset.css");

body {
	font: normal 14px/1.5em 'Droid Sans', arial, serif;
	color: #666;
	margin: 0em 1em;
}

a {
	color: #0044CC;
}

h1, h2, h3 {
	text-shadow: rgba(120,120,120,0.5) 1px 1px 2px;
}
h1 a {
	text-decoration: none;
}
h1 {
	font-weight: bold;
	font-size: 2em;
	line-height: 1em;
	margin: 1em 0em;
}
h2 {
	font-size: 0.85em;
	line-height: 1.5em;
	margin: 0em 0em 0.5em 0em;
	border-bottom: 1px solid rgba(128,128,128,0.5);
}
em {
	font-weight: bold;
}

.TestGroup li {
	display: inline-block;
}

li.Test {
	width: 275px;
	height: 160px;
	margin: 0px 5px 0px 0px;
	overflow: hidden;
}

li.Test .number {
	display: block;
	font-weight: bold;
	line-height: 82%;
}
li.number .chart {
	display: none;
}
li.number:hover .number {
	display: none;
}
li.number:hover .chart {
	display: table;
}


#footer, #footer a {
	color: #666;
}
#footer {
	margin-top: 2em;
	border-top: 1px solid #666;
	padding-top: 0.25em;
}